.ie-box-radius {
border-radius: 10px;
 -moz-border-radius: 10px;
-webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 behavior: url(PIE.htc);
}
/*ширина buttons | input*/
input, buttons{
overflow:visible;
}

